.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sections-row {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* To prevent horizontal scrolling */
}

.section {
  flex: 1;
  padding: 20px;
}

.section h2 {
  margin-top: 0;
}

.item {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  cursor: move;
}

